.title-book{
    color: antiquewhite;
}
.book-cover{
    z-index: 1;
    transition: all 0.5s ease-out;
}
.book-cover:hover {
transform: scale(1.05);
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
z-index: 999;}